<section class="about bg-mainLime relative z-0 h-screen">
  <div class="logos h-1/12">
    <app-logo-line></app-logo-line>
  </div>
  <div class="main_image absolute left-1/2 h-4/12 -translate-x-1/2">
    <img
      src="pic1.png"
      alt="screenshot with a man"
      class="h-full rounded-[40px] shadow-xl"
    />
  </div>
  <div class="text_title flex h-5/12 items-end justify-around">
    <h2>
      About <br />
      Boozt
    </h2>
    <div class="flex flex-col gap-2">
      <p class="text-mainIndigo">Who?</p>
      <button class="text-mainIndigo">Learn more</button>
    </div>
  </div>
  <div class="mt-10 flex h-6/12 flex-col items-center gap-5">
    <img
      src="pic2.png"
      alt="a man with a hat"
      class="aspect-square w-6/12 rounded-2xl"
    />
    <p class="w-6/12 text-xs">
      We're not your average advertising agency - we're a vibrant team of social
      media mavens, creative wizards, and trendsetters. With a dash of fun and a
      whole lot of expertise, we're here to revolutionize the way your brand
      connects with the world.
    </p>
  </div>
</section>
