<section class="about bg-mainLime relative z-0 h-screen">
  <div class="logos h-1/12">
    <app-logo-line></app-logo-line>
  </div>
  <div
    class="main_image absolute left-1/2 h-4/12 -translate-x-1/2 md:-top-5/12 md:h-7/12 xl:h-9/12"
  >
    <img
      src="pic1.png"
      alt="screenshot with a man"
      class="h-full rounded-[20px] shadow-2xl md:rounded-[40px]"
    />
  </div>
  <div
    class="text_title mt-5 flex h-5/12 items-end justify-around gap-15 md:h-2/12 lg:mt-15 xl:h-5/12 xl:justify-center xl:gap-50"
  >
    <h2 class="lg:text-8xl xl:pl-30 xl:text-9xl">
      About <br />
      Boozt
    </h2>
    <div
      class="flex flex-col justify-between gap-5 lg:gap-15 lg:pl-30 xl:gap-30"
    >
      <p
        class="text-mainIndigo text-right md:font-medium lg:text-right lg:text-4xl"
      >
        Who?
      </p>
      <button
        class="text-mainIndigo md:font-medium lg:h-[60px] lg:w-[190px] lg:text-2xl"
      >
        Learn more
      </button>
    </div>
  </div>
  <div
    class="mt-10 flex h-6/12 flex-col items-center gap-5 md:mt-15 md:gap-10 lg:h-6/12 lg:px-25 xl:mt-0 xl:flex-row xl:justify-center xl:gap-50"
  >
    <img
      src="pic2.png"
      alt="a man with a hat"
      class="aspect-square w-6/12 rounded-4xl shadow-2xl xl:mt-90 xl:h-full xl:w-auto"
    />
    <p
      class="w-7/12 text-sm md:text-xl md:font-medium lg:w-6/12 lg:text-2xl xl:mb-10 xl:w-4/12"
    >
      We're not your average advertising agency - we're a vibrant team of social
      media mavens, creative wizards, and trendsetters. With a dash of fun and a
      whole lot of expertise, we're here to revolutionize the way your brand
      connects with the world.
    </p>
  </div>
</section>
