<section class="hero relative h-screen w-full overflow-hidden">
  <nav
    class="nav mt-5 flex h-1/12 w-full items-center justify-between md:mt-0 md:h-2/12"
  >
    <div
      class="logo flex h-full w-full items-center justify-between md:w-3/12 md:justify-start"
    >
      <img
        src="logo.jpg"
        alt="boozt logo"
        class="ml-5 h-10/12 md:ml-15 md:h-6/12 lg:ml-20"
      />
      <button class="block h-full border-0 md:hidden" (click)="toggleMenu()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-12 w-12 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#dcff5f"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>
    <div class="links hidden h-full w-6/12 items-center justify-around md:flex">
      <a href="">About</a>
      <a href="">Services</a>
      <a href="">Portfolio</a>
      <a href="">Testimonial</a>
    </div>
    <div
      class="button hidden h-full w-3/12 items-center justify-center md:flex"
    >
      <button
        class="h-3/12 border-0 bg-neutral-100 text-lg/7 md:text-xl/7 lg:text-2xl/7"
      >
        Contact Us
      </button>
    </div>
  </nav>
  <div
    *ngIf="isMenuOpen"
    class="bg-mainIndigo bg-opacity-90 fixed inset-0 z-40 flex h-full w-screen flex-col items-center justify-center gap-10 text-5xl transition-all duration-300 md:hidden"
  >
    <a href="" (click)="closeMenu()" class="text-5xl">About</a>
    <a href="" (click)="closeMenu()" class="text-5xl">Services</a>
    <a href="" (click)="closeMenu()" class="text-5xl">Portfolio</a>
    <a href="" (click)="closeMenu()" class="text-5xl">Testimonial</a>
    <button
      (click)="closeMenu()"
      class="h-1/12 border-0 bg-neutral-100 text-5xl"
    >
      Contact Us
    </button>
    <button (click)="closeMenu()" class="border-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-20 w-20 cursor-pointer text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="#dcff5f"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  <h1
    class="text-mainLime mt-10 text-[100px] sm:text-[140px] md:mt-0 md:text-[190px] lg:text-[230px]"
  >
    Boost <br />
    Now
  </h1>
  <div
    class="circle pointer-events-none absolute bottom-[-30vh] left-1/2 z-0 h-[60vh] w-[60vh] -translate-x-1/2 transform rounded-full bg-neutral-100/30 ring-[70px] ring-neutral-100/10"
  ></div>

  <div
    class="left hidden w-4/12 flex-col items-start justify-around space-y-10 md:flex md:gap-3 md:px-10 md:py-5 lg:px-20 lg:py-10"
  >
    <p class="w-full text-neutral-100 md:w-8/12">
      Welcome to Boozt, your ultimate hub for electrifying social media
      advertising that packs a punch!
    </p>
    <button
      class="bg-mainLime text-mainIndigo z-10 md:h-15 md:w-40 md:text-2xl"
    >
      Start Now
    </button>
  </div>
  <div class="absolute bottom-5 left-1/2 -translate-x-1/2 md:hidden">
    <button
      class="bg-mainLime text-mainIndigo aspect-square w-40 rounded-full text-2xl"
    >
      Start Now
    </button>
  </div>

  <div
    class="right absolute left-1/2 z-0 mt-10 mr-15 flex -translate-x-1/2 gap-6 md:right-0 md:bottom-0 md:-left-0 md:mt-0 md:mr-10 md:h-6/12 md:-translate-x-0 md:flex-col"
  >
    <div class="flex flex-col items-end gap-1">
      <span class="text-3xl font-medium text-neutral-100 md:text-6xl"
        ><i class="text-mainLime not-italic">+</i>800</span
      >
      <span class="text-right text-lg font-light text-neutral-100 md:text-2xl"
        >Happy <br />Clients</span
      >
    </div>
    <div class="flex flex-col items-end gap-1">
      <span class="text-3xl font-medium text-neutral-100 md:text-6xl"
        ><i class="text-mainLime not-italic">+</i>10k</span
      >
      <span class="text-right text-lg font-light text-neutral-100 md:text-2xl"
        >Campaign <br />Launch</span
      >
    </div>
    <div class="flex flex-col items-end gap-1">
      <span class="text-3xl font-medium text-neutral-100 md:text-6xl"
        ><i class="text-mainLime not-italic">+</i>200</span
      >
      <span class="text-right text-lg font-light text-neutral-100 md:text-2xl"
        >Media <br />Featured</span
      >
    </div>
  </div>
</section>
