<section
  class="bg-mainLime xs:h-[120vh] xs:pt-13 h-[100vh] sm:pt-0 xl:h-[155vh]"
>
  <div class="hidden justify-around xl:flex">
    <div class="flex w-6/12 justify-around gap-[4vw]">
      <div class="text_button flex flex-col justify-around">
        <p class="text-4xl font-medium">What?</p>
        <button
          class="text-mainIndigo md:font-medium lg:h-[60px] lg:w-[230px] lg:text-2xl"
        >
          Discover More
        </button>
      </div>
      <p class="p-20 text-2xl font-medium">
        Our services come with a side of affordability. No hidden fees, no fine
        print - just straightforward pricing that fits your budget like a glove.
      </p>
    </div>
    <h2 class="text w-5/12 text-right text-9xl xl:font-[1000]">
      Boozt <br />
      Services
    </h2>
  </div>

  <div
    class="pictures grid grid-cols-2 gap-3 p-2 md:gap-5 md:p-10 md:pt-20 xl:grid-cols-3 xl:grid-rows-2 xl:gap-2 xl:px-20"
  >
    <div
      class="aspect-square justify-around p-2 md:flex md:flex-col xl:flex-col-reverse xl:justify-between"
    >
      <h3 class="xs:text-2xl md:text-5xl xl:text-4xl xl:font-extrabold">
        Ad <br class="xl:hidden" />
        Camgaigns
      </h3>
      <p
        class="hidden text-2xl font-medium md:block xl:mt-10 xl:pl-30 xl:text-right xl:text-xl xl:font-light"
      >
        Launching your brand into the stratosphere with captivating campaigns
        that stop the scroll
      </p>
    </div>
    <div class="flex items-center justify-center xl:order-first">
      <img
        src="pic3.png"
        alt=""
        class="aspect-square shadow-2xl sm:rounded-2xl lg:rounded-4xl xl:w-11/12"
      />
    </div>
    <div class="flex items-center justify-center">
      <img
        src="pic4.png"
        alt=""
        class="aspect-square shadow-2xl sm:rounded-2xl lg:rounded-4xl xl:w-11/12"
      />
    </div>

    <div class="aspect-square p-2 md:hidden">
      <p>
        Launching your brand into the stratosphere with captivating campaigns
        that stop the scroll
      </p>
    </div>
    <div
      class="aspect-square justify-around p-2 md:order-last md:flex md:flex-col xl:order-none xl:justify-between"
    >
      <h3
        class="xs:text-2xl md:text-5xl xl:text-right xl:text-4xl xl:font-extrabold"
      >
        Social <br class="xl:hidden" />
        Media <br />
        Management
      </h3>
      <p
        class="hidden text-2xl font-medium md:block xl:mb-10 xl:w-8/12 xl:text-left xl:text-xl xl:font-light"
      >
        From crafting killer content to engaging with your audience, we've got
        your back
      </p>
    </div>
    <div class="flex items-center justify-center">
      <img
        src="pic5.png"
        alt=""
        class="shadow-1xl aspect-square sm:rounded-2xl lg:rounded-4xl xl:w-11/12"
      />
    </div>
    <div class="flex items-center justify-center">
      <img
        src="pic6.png"
        alt=""
        class="aspect-square shadow-2xl sm:rounded-2xl lg:rounded-4xl xl:w-11/12"
      />
    </div>

    <div class="aspect-square p-2 md:hidden">
      <p>
        From crafting killer content to engaging with your audience, we've got
        your back
      </p>
    </div>
  </div>
</section>
