<section
  class="bg-mainLime xs:my-[10vh] pro:items-baseline pro:h-[95vh] flex h-[100vh] items-center justify-center px-[5vw] py-[5vh] sm:my-[5vh]"
>
  <div
    class="pro:gap-[10vh] container mt-[5vh] flex flex-col items-center gap-[3vh]"
  >
    <div class="text flex w-10/12 flex-col-reverse gap-[3vh]">
      <div class="left flex flex-row-reverse items-end justify-between">
        <p class="text-mainIndigo md:text-xl md:font-medium lg:text-2xl">
          How?
        </p>
        <button
          class="text-mainIndigo md:text-xl md:font-medium lg:text-2xl xl:text-3xl xl:font-normal"
        >
          More Detail
        </button>
      </div>
      <div class="right">
        <h1 class="text-right text-5xl md:text-7xl lg:text-8xl xl:text-9xl">
          Boozt <br />
          Pricing
        </h1>
      </div>
    </div>
    <div class="bottom grid grid-cols-1 gap-[3vh]">
      <div class="text flex items-center justify-center">
        <p
          class="w-10/12 md:text-xl md:font-medium lg:text-2xl xl:text-right xl:font-light"
        >
          Our services come with a side of affordability. No hidden fees, no
          fine print - just straightforward pricing that fits your budget like a
          glove.
        </p>
      </div>
      <div class="image xs:p-[5vh] pro:p-0 flex items-center justify-center">
        <img
          src="pic10.png"
          alt="a man"
          class="xs:rounded-2xl aspect-square h-[35vh] shadow-lg sm:rounded-3xl lg:rounded-4xl xl:h-fit"
        />
      </div>
    </div>
  </div>
</section>
