<section class="h-[100vh] px-[5vw] py-[5vh]">
  <div class="container flex flex-col items-center justify-around">
    <div class="text flex w-10/12 flex-col gap-[3vh]">
      <div class="left">
        <h1 class="text-mainLime text-left text-5xl">Boozt <br />Portfolio</h1>
      </div>
      <div class="middle flex items-end justify-between">
        <p class="text-mainLime font">Why?</p>
        <button class="text-mainLime">Discover More</button>
      </div>
      <div class="right">
        <p class="text-mainLime hidden">Why?</p>
        <p class="text-mainLime">
          Check out some of our star-studded campaigns and success stories.
          Warning: may cause serious FOMO
        </p>
      </div>
    </div>
    <div
      class="photos relative mt-[10vw] flex min-w-full flex-col items-center justify-between gap-[5vh] overflow-hidden"
    >
      <div class="flex min-w-full justify-start">
        <img
          src="pic7.png"
          alt="photo of a man"
          class="aspect-square h-[30vh] rounded-2xl"
        />
      </div>
      <div class="hidden">
        <img
          src="pic8.png"
          alt="screenshot of socia media platform"
          class="h-[40vh] object-contain"
        />
      </div>
      <div class="flex min-w-full justify-end">
        <img
          src="pic9.png"
          alt="photo of a man"
          class="aspect-square h-[30vh] rounded-2xl"
        />
      </div>
    </div>
  </div>
</section>
