<div class="flex gap-4 overflow-hidden md:gap-42">
  <div
    class="animate-slide mt-5 flex gap-4 tracking-wider whitespace-nowrap md:gap-42"
  >
    <h3 class="inline-block">nvidia</h3>
    <h3 class="inline-block">Canon</h3>
    <h3 class="inline-block">zoom</h3>
    <h3 class="inline-block">Avast</h3>
    <h3 class="inline-block">facebook</h3>
    <h3 class="inline-block">Adobe</h3>
  </div>
  <div
    class="animate-slide mt-5 flex gap-4 tracking-wider whitespace-nowrap md:gap-42"
  >
    <h3 class="inline-block">nvidia</h3>
    <h3 class="inline-block">Canon</h3>
    <h3 class="inline-block">zoom</h3>
    <h3 class="inline-block">Avast</h3>
    <h3 class="inline-block">facebook</h3>
    <h3 class="inline-block">Adobe</h3>
  </div>
</div>
