<section class="bg-mainLime h-[100vw] sm:h-[30vh]">
  <div
    class="title flex justify-around pt-[35vw] sm:p-0 md:h-8/12 md:flex-row-reverse md:items-end-safe md:px-[5vw] xl:hidden"
  >
    <h2 class="text w-5/12 md:text-right lg:text-8xl xl:text-9xl">
      Boozt <br />
      Services
    </h2>

    <div
      class="text_button_for_mobile flex w-5/12 flex-col items-end justify-around md:hidden"
    >
      <button class="text-mainIndigo h-5/12 text-xs">Discover More</button>
      <p class="text-right">What?</p>
    </div>

    <div class="hidden w-7/12 justify-around gap-[4vw] md:flex">
      <div class="text_button flex flex-col justify-around lg:justify-between">
        <p class="md:font-medium lg:text-4xl">What?</p>
        <button
          class="text-mainIndigo md:font-medium lg:h-[60px] lg:w-[230px] lg:text-2xl"
        >
          Discover More
        </button>
      </div>
      <p class="md:text-xl md:font-medium lg:text-2xl">
        Our services come with a side of affordability. No hidden fees, no fine
        print - just straightforward pricing that fits your budget like a glove.
      </p>
    </div>
  </div>
  <div class="text_for_mobile flex justify-center md:hidden">
    <p class="mt-10 w-7/12 text-sm">
      Our services come with a side of affordability. No hidden fees, no fine
      print - just straightforward pricing that fits your budget like a glove.
    </p>
  </div>
</section>
